.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 40px;
position:sticky;
top:0;
z-index:1000;

background:rgba(255,255,255,.85);
backdrop-filter:blur(12px);

box-shadow:0 5px 20px rgba(0,0,0,.08);
}

body.dark .navbar{
background:#111827;
}

.logo{
font-size:28px;
font-weight:bold;
color:#2563eb;
}

.logo span{
color:#38bdf8;
}

.nav-links{
display:flex;
gap:18px;
}

.nav-links a{
padding:10px 18px;
border-radius:10px;
font-weight:600;
transition:.3s;
}

.nav-links a:over{
background:#2563eb;
color:white;
transform:translateY(-2px);
}

.active{
background:#2563eb;
color:white;
}

.theme-btn{
width:45px;
height:45px;
border:none;
border-radius:50%;
font-size:18px;
background:#2563eb;
color:white;
cursor:pointer;
}

.theme-btn:hover{
transform:rotate(180deg);
}

@media(max-width:900px){

.navbar{
flex-direction:column;
gap:15px;
}

.nav-links{
flex-wrap:wrap;
justify-content:center;
}

}